*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main{
    width: 1440px;
    margin: 0 auto;
}

.ShopProducts {
    border: 1px solid red;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}